<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-COMPATIBLE"
		      content="ie=edge">
		<title>PayPal Node App</title>
	</head>
	<body>
		<h1>Welcome!</h1>
		<h2>Buy for 2 Eur</h2>
		<form action="/pay" method="post">
			<input type="submit" value="buy">
		</form>
	</body>
</html>